<div class="container">
<br>
<h1> About us  </h1><br>

<p class="text-justify">Rails Library offer tremendous gathering of books in various classification of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, Children. We likewise move in immense accumulation of Investments and Management, Computers, Engineering, Medical, College and School content references books proposed by various foundations as schedule the nation over.
<br>	
<br>
We endeavor to broaden the member loyalty by providing food simple easy to use index, brisk and easy to understand categories and arrangements and snappier conveyance tables. Upside to the majority of this, we are arranged to give energizing offers and charming limits on our cafe menu.</p>

</div>